.detailpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
  }
  
.leftSide {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px;
}

.rightSide {
    flex: 0 0 auto; /* 크기를 자동으로 지정하고 남은 공간을 차지하지 않도록 설정 */
    height: 100%;
  }

  
.leftSide img {
  width: 350px; /* 원하는 너비(px)로 설정하세요 */
  height: 200px; /* 원하는 높이(px)로 설정하세요 */
  object-fit: cover; /* 이미지를 container에 맞추기 위해 사용 (가능한 값: fill, contain, cover 등) */
  border-radius: 10px; /* 원형 이미지로 표시하려면 추가 (사각형 이미지는 필요 없음) */
}

  