.mypage .userProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage .userinfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mypage .userSetting {
    display: flex;
    text-align: center;
    gap: 20px;
}

.mypage .userImg {
    height: 90px;
    width: 90px;
    object-fit: cover; 
    border-radius: 50%; 
}

.mypage .loveHelper {
    height: 60px;
    width: 60px;
    align-items: center;
}

.mypage .userSetting h4 {
    background-color: #EFECE8;
    padding-top: 10px;
    width: 8em;
    height: 35px;
    border-radius: 15px;
}

.mypage .mytemperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.mypage .temperatureInfo {
    display: flex;
    align-items: center;
}

/* 온도바 */
.mypage .temperatureBarContainer {
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 10px;
    height: 22px;
}

.mypage .temperatureBar {
    height: 100%;
    background-color: #D5F0C1;
    border-radius: 10px;
}
